.piano {
  position: relative;
}

.white-key {
  width: 60px; /* 흰건반의 너비 */
  height: 200px; /* 흰건반의 높이 */
  background-color: white; /* 흰건반 배경색 */
  border: 1px solid #000; /* 흰건반 테두리 */
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.1s ease; /* 효과 전환 */
}

.white-key.active {
  background-color: lightgray; /* 눌렸을 때 색상 */
}

.black-key {
  width: 40px; /* 검은건반의 너비 */
  height: 120px; /* 검은건반의 높이 */
  background-color: black; /* 검은건반 배경색 */
  position: absolute;
  left: 40px; /* 흰건반 중앙에 위치 */
  margin-left: -20px; /* 검은건반을 중앙에 두기 위해 왼쪽으로 이동 */
  cursor: pointer;
  z-index: 1; /* 검은건반이 흰건반 위에 위치하도록 함 */
}

.black-key.active {
  background-color: darkgray; /* 눌렸을 때 색상 */
}
